name: build

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: denoland/setup-deno@v2
        with:
          deno-version: latest
      - name: build
        run: |
          pnpm i
          deno run --allow-sys --allow-env --allow-read --allow-write --allow-run download.ts
      - name: release
        uses: ncipollo/release-action@v1
        with:
          tag: nightly
          artifacts: "*.zip"
          allowUpdates: true

  post-test:
    needs: ["release"]
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        os: [
            ubuntu-24.04,
            #  windows-latest,
            macos-14,
            macos-13,
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: easy-install/easy-setup@v1
        with:
          url: https://github.com/ahaoboy/bare-build
      - name: test
        run: |
          which bare
          echo "console.log(1+1)" >> ./test.js
          bare ./test.js
